body {
   background: url('https://imageio.forbes.com/specials-images/imageserve/632d891161b9efabbc7d2c23/0x0.jpg?format=jpg&crop=2200,1232,x398,y0,safe&width=1200') center center no-repeat fixed;
   background-size: cover;
}

.wrapper {
   width: 500px;
}

.container {
   border: 1px solid rgba(173, 216, 230, 0.61);
   text-align: center;
   padding: 15px;
   margin: 190px 0px 0px 150px;
   border-radius: 15px;
   background-color: rgba(173, 216, 230, 0.61);
}

.temp {
   display: flex;
   justify-content: center;
   align-items: center;
}

.temp>img {
   margin-right: 15px;
}

.cloud,
.wind_kph,
.humidity {
   text-align: left;
   text-transform: uppercase;
}